<div
  id="hangul-modal"
  class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-60 backdrop-blur-sm"
>
  <div
    class="bg-white p-8 rounded-2xl shadow-2xl w-[480px] transform transition-all"
  >
    <h2 class="text-3xl font-bold text-gray-800 mb-6 pb-4">새로운 한국어 단어 추가</h2>

    <div class="space-y-4">
      <div>
        <label class="block text-lg font-semibold text-gray-700 mb-1">한국어</label>
        <input
          type="text"
          id="hangul-input"
          class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#4B63AC] focus:border-[#4B63AC] outline-none transition-all"
          placeholder="한국어 단어를 입력하세요"
          maxlength="10"
          required
        />
      </div>
      <div>
        <label class="block text-lg font-semibold text-gray-700 mb-1">의미</label>
        <input
          type="text"
          id="meaning-input"
          class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#4B63AC] focus:border-[#4B63AC] outline-none transition-all"
          placeholder="단어의 의미를 입력하세요"
          required
        />
      </div>
      <div>
        <label class="block text-lg font-semibold text-gray-700 mb-1">발음</label>
        <input
          type="text"
          id="pronunciation-input"
          class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#4B63AC] focus:border-[#4B63AC] outline-none transition-all"
          placeholder="발음은 자동으로 생성됩니다"
          readonly
        />
      </div>
      <div>
        <label class="block text-lg font-semibold text-gray-700 mb-1">이미지</label>
        <div class="w-full p-3 border border-gray-300 rounded-lg">
          <div id="emoji-options" class="flex flex-wrap gap-3 py-2 min-h-12"></div>
          <input
            type="hidden"
            id="image-input"
          />
        </div>
      </div>
      <div>
        <label class="block text-lg font-semibold text-gray-700 mb-1">설명</label>
        <textarea
          id="description-input"
          class="w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#4B63AC] focus:border-[#4B63AC] outline-none transition-all resize-none"
          placeholder="단어에 대한 설명을 입력하세요"
          rows="4"
          required
        ></textarea>
      </div>
    </div>

    <div class="flex justify-end space-x-3 mt-4 pt-4">
        <button id="close-modal" class="px-6 py-2.5 rounded-lg border border-gray-300 text-gray-700 hover:bg-gray-50">취소</button>
        <button id="add-hangul" class="px-6 py-2.5 rounded-lg bg-[#4B63AC] text-white hover:bg-[#3A4F8B]">추가</button>
    </div>
  </div>
</div> 